doctype html
html(lang="es")
	head
		title Productos / Bosca
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/style.css")
		//- Owl Carousel Assets
		link(rel="stylesheet", href="owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="owl-carousel/owl.theme.css")
		//- Prettify
		//- script(src="owl-carousel/prettify.css")

		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="sass/tema/js/scripts.js")
		script(src="owl-carousel/owl.carousel.min.js")
		
	body

		.collapsible
			button 
			form.desple
				#servicio--cliente
					p Servicio al cliente 800 200 567
				h1.dudas
					|¿Tienes dudas sobre algunos de nuestros productos?
				input(type="text" name="" value="" placeholder="Ingresa nombre")
				input(type="mail" name="" value="" placeholder="ingresa tu mail")
				input(type="text" name="" value="" placeholder="Asunto")
				textarea(type="text-area" name="" value="" )
				a.send(href="#") Enviar
		a.btn-compromiso(href="#") Compromiso verde
			img(src="img/compromiso-verde.jpg", alt="")


		header#header
			.grupo
				.caja.web-30.no-padding
					h1
						a.logo_m(href="index.html") ir al inicio
				.caja.web-70
					#flags
						ul
							li
								a.spanish(href="#")
									img(src="img/chile.gif")
							li
								a.english(href="#")
									img(src="img/uk.gif")
					#mostrar-menu Menú
					ul.menu
						li.menu__item: a.menu__link(href="index.html") Productos
						li.menu__item: a.menu__link(href="nosotros.html") Nosotros
						li.menu__item: a.menu__link(href="encuentranos.html") Encuéntranos
						li.menu__item: a.menu__link(href="registra-tu-bosca.html") Garantiza tu Bosca
						li.menu__item: a.menu__link(href="servicio-tecnico.html") Servicio técnico
						li.menu__item: a.menu__link(href="preguntas-frecuentes.html") Preguntas frecuentes
						li.menu__item: a.menu__link(href="contacto.html") Contacto
		section.grupo
			.caja.no-padding
				.banner
					#owl-demo.owlcarousel.owl-theme
						.item
							img(src="img/bg_banner.jpg")
						.item
							img(src="img/bg_banner.jpg")
						.item
							img(src="img/bg_banner.jpg")
						.item
							img(src="img/bg_banner.jpg")
		
		section.grupo
			.caja
				#logos_juntos_home
					img(src="img/logos-juntos.png")
		section.grupo
			.caja.movil-50.tablet-70.web-80
				.buscar
					input(type="search")
					button.search--buscar buscar
			.caja.movil-50.tablet-30.web-20
				#cotizar
					p.cotizaciones
						|Cotizaciones 
						span.numero--items 15 
						|ítems
		section.grupo.margen-top
			.caja
				.imagenes
					.imagen--item
						.container-a4
							ul.caption-style-4

								li
									img(src="img/calefaccion.png")
									p.cinta Calefacción
									.caption
										.blur
										.caption-text
											a.see(href="productos.html") Ver
					.imagen--item
						.container-a4
							ul.caption-style-4

								li
									img(src="img/terrazas.png")
									p.cinta Terraza y parrilla
									.caption
										.blur
										.caption-text
											a.see(href="#") Ver
					.imagen--item
						.container-a4
							ul.caption-style-4

								li
									img(src="img/cocina.png")
									p.cinta Cocina y calderas
										//-img.mini(src="img/hergom.png")									
									.caption
										.blur
										.caption-text
											a.see(href="#") Ver
					.imagen--item
						.container-a4
							ul.caption-style-4

								li
									img(src="img/ventilacion.png")
									p.cinta Ventilación y aire acondicionado
									.caption
										.blur
										.caption-text
											a.see(href="#") Ver
					//- .imagen--item
					//- 	.container-a4
					//- 		ul.caption-style-4

					//- 			li
					//- 				img(src="img/calefa.png")
					//- 				p.cinta Calefacción eléctrica perfecta 
					//- 					img.mini(src="img/climastar.png")
					//- 				.caption
					//- 					.blur
					//- 					.caption-text
					//- 						a.see(href="#") 

		footer#footer
			.grupo
				.caja.movil-50
					form.contact_form(action="#")
						ul
							li
								label.label Recibe nuestras ofertas y promociones 
								input.format_input(type="text" name="" value="" placeholder="Ingresa nombre y apellido")
							li
								input.format_input(type="text" name="" value="" placeholder="Ingresa mail")
							li
								button.enviarMail(type="submit") Suscríbete ahora
				.caja.movil-50.auxT
					p.servicioCliente
						|Servicio al cliente 
						a.telF(href="tel:+56 800200657") 800 200 657
					p.direccion
						|Av. Américo Vespucio 2077, Huechuraba, Santiago.
					.sociales
						//- a.intra(href="#") Intranet
						a.fb(href="#")
							img(src="img/fb-mini.jpg")
						//- a.yt(href="#") Youtube









					


