doctype html
html(lang="es")
	head
		title Productos / Bosca
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="css/style.css")
		//- Owl Carousel Assets
		link(rel="stylesheet", href="owl-carousel/owl.carousel.css")
		link(rel="stylesheet", href="owl-carousel/owl.theme.css")
		//- Prettify
		//- script(src="owl-carousel/prettify.css")

		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="sass/tema/js/scripts.js")
		script(src="owl-carousel/owl.carousel.min.js")
		//-linea de tiempo
		script(src="sass/tema/js/jquery.timelinr-0.9.54.js")		
	body

		.collapsible
			button 
			form.desple
				#servicio--cliente
					p Servicio al cliente 800 200 567
				h1.dudas
					|¿Tienes dudas sobre algunos de nuestros productos?
				input(type="text" name="" value="" placeholder="Ingresa nombre")
				input(type="mail" name="" value="" placeholder="ingresa tu mail")
				input(type="text" name="" value="" placeholder="Asunto")
				textarea(type="text-area" name="" value="" )
				a.send(href="#") Enviar
		a.btn-compromiso(href="#") Compromiso verde
			img(src="img/compromiso-verde.jpg", alt="")


		header#header
			.grupo
				.caja.web-30.no-padding
					h1
						a.logo_m(href="index.html") ir al inicio
				.caja.web-70
					#flags
						ul
							li
								a.spanish(href="#")
									img(src="img/chile.gif")
							li
								a.english(href="#")
									img(src="img/uk.gif")
					#mostrar-menu Menú
					ul.menu
						li.menu__item: a.menu__link(href="index.html") Productos
						li.menu__item: a.menu__link(href="nosotros.html") Nosotros
						li.menu__item: a.menu__link(href="encuentranos.html") Encuéntranos
						li.menu__item: a.menu__link(href="registra-tu-bosca.html") Garantiza tu Bosca
						li.menu__item: a.menu__link(href="servicio-tecnico.html") Servicio técnico
						li.menu__item: a.menu__link(href="preguntas-frecuentes.html").activ Preguntas frecuentes
						li.menu__item: a.menu__link(href="contacto.html") Contacto
		//- section.grupo
		//- 	.caja.no-padding
		//- 		.banner
		//- 			#owl-demo.owlcarousel.owl-theme
		//- 				.item
		//- 					img(src="img/bg_banner.jpg")
		//- 				.item
		//- 					img(src="img/bg_banner.jpg")
		//- 				.item
		//- 					img(src="img/bg_banner.jpg")
		//- 				.item
		//- 					img(src="img/bg_banner.jpg")		
		section.grupo
			.caja
				#logos_juntos
					img(src="img/logos-juntos.png")
		//- section.grupo
		//- 	.caja.movil-50.tablet-70.web-80
		//- 		.buscar
		//- 			input(type="search" placeholder="buscar")
		//- 			button.search--buscar buscar
		//- 	.caja.movil-50.tablet-30.web-20
		//- 		#cotizar
		//- 			p.cotizaciones
		//- 				|Cotizaciones 
		//- 				span.numero--items 15 
		//- 				|ítems

		section.grupo
			#todo
				.caja.movil-30
					.side--we
						h2 Cómo usar tu Bosca
				.caja.movil-70
						.side-ellos
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-1") Revisa los manuales de uso de nuestros modelos
								#accordion-1.accordion-section-content
									.use--bosca
										.caja.base-25.no-padding
											.col--use--bosca
												h1 Calefactores eléctricos
												.lista--links
													ul
														li
															a(href="#") ECO NEGRO
														li
															a(href="#") ECO MADERA
														li
															a(href="#") 360º
														li
															a(href="#") Montable
														li
															a(href="#") Mesa calefactora
														li
															a(href="#") Free Standing
										.caja.base-25.no-padding
											.col--use--bosca
												h1 Estufas pellet
												.lista--links
													ul
														li
															a(href="#") ECO Pellet 360º
														li
															a(href="#") Calef. de Pasillo
														li
															a(href="#") Chimenea Pellet
														li
															a(href="#") Montable
														li
															a(href="#") ADDA 10
														li
															a(href="#") Hidro 18
														li
															a(href="#") Hidro 22
										.caja.base-25.no-padding
											.col--use--bosca
												h1 Estufas leña
												.lista--links
													ul
														li
															a(href="#") ECO FLAME 360º
														li
															a(href="#") Línea Limit
														li
															a(href="#") Línea ECO
														li
															a(href="#") Línea multibosca
														li
															a(href="#") Estufas Xeoos

										.caja.base-25.no-padding
											.col--use--bosca.yes-border-r
												h1 Calderas
												.lista--links
													ul
														li
															a(href="#") DTH
														li
															a(href="#") LAR
														li
															a(href="#") GREDOS

										//- ul
										//- 	p Respuesta
										//- 	li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
										//- 	li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
										//- 	li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
										//- 	li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
										//- 	li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-2") Recomendación del fabricante
								#accordion-2.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-3") Mantenciones
								#accordion-3.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							//- .accordion
							//- 	.accordion-section
							//- 		a.accordion-section-title(href="#accordion-4") Dónde usar tu bosca
							//- 	#accordion-4.accordion-section-content
							//- 		.use--bosca
							//- 			ul
							//- 				p Respuesta
							//- 				li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
							//- 				li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							//- 				li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							//- 				li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							//- 				li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-5") Tipos de leñas
								#accordion-5.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
				.caja.movil-30
					.side--we
						h2 Preguntas Frecuentes
				.caja.movil-70
						.side-ellos
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-6") Preguntas frecuentes 1
								#accordion-6.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-7") Preguntas frecuentes 2
								#accordion-7.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-8") Preguntas frecuentes 3
								#accordion-8.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-9") Preguntas frecuentes 4
								#accordion-9.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
							.accordion
								.accordion-section
									a.accordion-section-title(href="#accordion-10") Preguntas frecuentes 5
								#accordion-10.accordion-section-content
									.use--bosca
										ul
											p Respuesta
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem... 
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...
											li Sed ut perspiciatis unde omnis iste natus error sit voluptatem...

		footer#footer
			.grupo
				.caja.movil-50
					form.contact_form(action="#")
						ul
							li
								label.label Recibe nuestras ofertas y promociones 
								input.format_input(type="text" name="" value="" placeholder="Ingresa nombre y apellido")
							li
								input.format_input(type="text" name="" value="" placeholder="Ingresa mail")
							li
								button.enviarMail(type="submit") Suscríbete
				.caja.movil-50.auxT
					p.servicioCliente
						|Servicio al cliente 
						a.telF(href="tel:+56 800200657") 800 200 657
					p.direccion
						|Av. Américo Vespucio 2077, Huechuraba, Santiago.
					.sociales
						//- a.intra(href="#") Intranet
						a.fb(href="#")
							img(src="img/fb-mini.jpg")
						//- a.yt(href="#") Youtube









					


