.imgCupon{
	width: 90%;
	max-width: 800px;
	position: relative;
	//-webkit-border-radius: 25px;
	//-moz-border-radius: 25px;
	//border-radius: 25px;
	//height: 504px;
	overflow: hidden;
	max-height: 100%;
	margin: 0 auto;
	background: url(../img/bg-light.jpg) repeat;
		.pro-l{
			width: 70%;
			margin: 20px auto 0 auto;
			@include desde (tablet){
				width: 90%;
			}
		}
		.logo-light-L{
			width: 70%;
			margin: 0 auto;
		}
		.texti-L{
			width: 78%;
			margin: 0 auto;
		}
		p.textLight{
			position: absolute;
			top:180px;
			right: 20px;
			width: 45%;
			color:#fff;
			font-size: 1.5em;
			text-align: right;
		}

		a.getCupon{
			color: #fff;
		    width: 100%;
		    padding: 9px;
		    text-align: center;
		    font-size: 1em;
		    background: #f04d1d;
		    -webkit-border-radius: 10px;
		    -moz-border-radius: 10px;
		    border-radius: 10px;
		    text-transform: uppercase;
		    text-decoration: none;
		    transition: .3s all;
		    /* margin: 0 auto; */
		    margin-bottom: 20px;
		    display: block;
		    &:hover{
		    	background: #da3f11;
		    }
		}
}


.ver-imagen-ambiente{
	width: 100%;
    padding: 10px 90px;
    background: #E65524;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    //float: left;
    border: none;
	position: relative;
    z-index: 8000;
    input#abrirXd{
    	border: none;
    	background: transparent;
	   //background: #E65524;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    text-decoration: none;
	    //float: left;
	    border: none;
	    width: 100%;
	    &:hover{
	    	color: #53534A;
	    }
    }
}

.close-imagenes{
	color:#fff;
	position: absolute;
	top: -30px;
	right: -30px;
	text-decoration: none;
	width: 30px;
	height: 30px;
	display: block;
	border-radius: 50%;
	background: #000;
	border: 2px solid #fff;
	font-size: .8em;
    line-height: 28px;
}