#header{
	background: $color-negro;
	height:auto;
	//border-bottom: 2px solid $color-corporativo;
	width:100%;
	z-index:1000;
	position: fixed;
	padding: 1em 0;
    // set animation
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
}



.sticky{
	height:auto;
			-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;

		@include desde (tablet){
			height: auto;
		}
		@include desde (web){
			height: 60px;
		}
	h1{
		margin:16px 0 0 0;
		//background: red;
	}
	.menu{
		margin-top:0; 
	}
}

h1{
	// margin:30px 0px;
	// @include desde (tablet){
	// 	margin:22px 0 0 0;
	// }
	// @include desde (web){
	// 	margin:30px 0px;
	// }
	@include desde (tablet){
		margin:0.2em 0 0.5em 0;
	}
	@include desde (web){
		margin: 2px 0 0 0;
	}

}
.logo_m{
	//width: 184px;
	//height: 75px;
	//background: url(../img/logo.png) no-repeat;
	width:290px;
	height:35px;
	background: url(../img/logo--2.png) no-repeat;
	text-align: center;
	display: block;
	text-indent:-9999px;
	margin: 0 auto;
	@include desde (web){
		margin-left: 0;
	}
}
